<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sushi Fukusaio {{dia}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    {% load static %}
    <link href="{% static 'Prueba1/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Prueba1/css/index.css' %}" rel="stylesheet">    
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">Sushi Fukusaio</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menú</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pedido' %}">Haz tu pedido!</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Nosotros' %}">Quienes somos</a>
              </li>
            </ul>
          </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <!-- Modal -->
        <!-- Button to Open the Modal -->
        <div class="container-fluid d-flex flex-row-reverse">
            <button type="button" class="btn btn-danger d-flex-end " data-bs-toggle="modal" data-bs-target="#myModal">
                Iniciar Sesión
              </button>
            </div>
              
              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color: #00000074;">
                      <h4 class="modal-title" style="color: #000000"><b>Sushi Ryge</b></h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                   <!-- Modal body -->
                    <div class="modal-body" style="background: rgba(227, 20, 20, 0.932);">
                        <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="color: #000000;"><b>Usuario:</b></p>
                            </div>
                        </div>  
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12 pt-3">
                                <p style="color: #000000;"><b>Contraseña</b></p>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                                </div>
                        </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer" style="background-color: #00000074;">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Inciar sesión</button>
                    </div>
              
                  </div>
                </div>
              </div>
                    <!-- Fin Modal -->
            </div>
        </div> 
    </nav>    
    <!-- Fin Nav -->
    
    
<!-- Formulario  -->
<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <h1 class="d-flex justify-content-center">Haz tu pedido!</h1>
        <h6 class="d-flex justify-content-center">Para registratarte rellena los siguientes campos.</h6>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-3 d-flex justify-content-center"></div>
        <h6 class="col-sm-3 d-flex justify-content-center">¿Ya posees una cuenta?</h6>
        <div class="col-sm-3 d-flex justify-content-center">
                            <!-- Modal -->
        <!-- Button to Open the Modal -->
        <div class="container-fluid d-flex flex-row-reverse">
            <button type="button" class="btn btn-danger d-flex-end " data-bs-toggle="modal" data-bs-target="#myModal">
                Iniciar Sesión
              </button>
            </div>
              
              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color: #00000074;">
                      <h4 class="modal-title" style="color: #000000"><b>Sushi Ryge</b></h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                   <!-- Modal body -->
                    <div class="modal-body" style="background: rgba(227, 20, 20, 0.932);">
                        <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p style="color: #000000;"><b>Usuario:</b></p>
                            </div>
                        </div>  
                        <div class="row justify-content-center">
                            <div class="col-md-12">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12 pt-3">
                                <p style="color: #000000;"><b>Contraseña</b></p>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                                </div>
                        </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer" style="background-color: #00000074;">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Inciar sesión</button>
                    </div>
              
                  </div>
                </div>
              </div>
                    <!-- Fin Modal -->
        </div>
        <div class="col-sm-3 d-flex justify-content-center"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-3"></div>
        <form class="col-sm-6">
            <div class="mb-3 p-1">
                <label for="InputName" class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control" id="InputName">
            </div>
            <div class="mb-3">
                <label for="InputPhoneNumber" class="form-label">Tel&eacute;fono</label>
                <input type="number" class="form-control" id="InputPhoneNumber">
            </div>
            <div class="mb-3 p-1">
              <label for="exampleInputEmail1" class="form-label">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Nunca compartiremos tus datos personales con nadie.</div>
            </div>
            <div class="mb-3 p-1">
              <label for="exampleInputPassword1" class="form-label">Confirma</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 p-1">
                <label for="exampleInputPassword1" class="form-label">Confirma tu contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            <div class="mb-3 p-1">
                <label for="disabledSelect" class="form-label">Opci&oacute;n a entregar pedido</label>
                <select id="disabledSelect" class="form-select">
                  <option>Reparto a domicilio</option>
                  <option>Retiro en tienda</option>
                </select>
              </div>
            <div class="mb-3  p-1">
                <label for="InputDirection" class="form-label">Ingrese su direcci&oacute;n de Domicilio</label>
                <input type="text" class="form-control" id="InputDirection">
            </div>
            <div class="mb-3 d-flex justify-content-center p-1 mb-2">
                <button type="submit" class="btn btn-primary d-flex justify-content-center">Registrarse</button>
            </div>
            <div class="mb-3 d-flex justify-content-center p-1 mb-2"></div>
          </form>
        <div class="col-sm-3"></div>
    </div>
</div>


<!-- Fin Formulario -->

    <!-- Footer -->
<footer class="text-center text-lg-start bg-dark text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span style="color:#fff">Puedes seguirnos en nuestras Redes Sociales o Contactarnos!</span>
      </div>
      <!-- Left -->
  
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: #fff">
              <i class="fas fa-gem me-3"></i>Sushi Fukusaio</h6>
            <p style="color: #fff">
              Sushi al mejor estilo Japonés de alta calidad, frescura y con un sabor inigualable!
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: #fff">
              Redes Sociales
            </h6>
            <p style="color: #fff">
              <a href="https://www.instagram.com/" class="text-reset" target="_blank">Instagram</a>
            </p>
            <p style="color: #fff">
              <a href="https://es-la.facebook.com/" class="text-reset" target="_blank">Facebook</a>
            </p>
            <p style="color: #fff">
              <a href="https://www.tiktok.com/es/" class="text-reset" target="_blank">Tik Tok</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: #fff">
              Sucursales
            </h6>
            <p style="color: #fff">
              <a href="#!" class="text-reset">Las Condes - Apoquindo 6053</a>
            </p>
            <p style="color: #fff">
              <a href="#!" class="text-reset">Santiago Centro - Morande 673</a>
            </p>
            <p style="color: #fff">
              <a href="#!" class="text-reset">Maipú - Av Pajaritos 3254</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: #fff">Contact</h6>
            <p style="color: #fff"><i class="fas fa-home me-3"></i> Numero para tomar pedido +56 2 254898158</p>
            <p style="color: #fff">
              <i class="fas fa-envelope me-3"></i>
              sushi@fukusaio.com
            </p>
            <p style="color: #fff">
            <p style="color: #fff"><i class="fas fa-phone me-3"></i>Agenda por Whatsapp <br/>+56 2 927318298</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);" style="color: #fff">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/" style="color: #fff">SushiFukusai.com</a>
    </div>
    <!-- Copyright -->
  </footer>
<!-- Fin Footer -->

</body>
</html>